html, body{
	height: 100%;
}
body{
	background: #FFFFFF;
	font-family: 'Varela Round', sans-serif;
}
a:hover, a:visited{
	color:#337ab7;
}
select{
	cursor: pointer;
}
.container{
	width: 100%;
}

/* HEADER */
div.header{
	background: #333;
	border-bottom: 0px solid navy;
	border-radius: 0;
	height: 35px;
	min-height: auto;
}
.navbar-brand, .navbar-brand:visited{
	color: white;
	font-size: 16px;
	height: auto;
	line-height: 35px;
	padding: 0 0 0 30px;
}

/* MAP AREAS */
div#maincon{
	min-width: 0px;
	padding-bottom: 30px;
	width: 100%;
}
div.map{
	background: #FFFFFE;
	border: 1px solid #EEE;
	float: left;
	width: 50%;
}
div#map1{
	border-right: 1px solid #EEE;
}
@media screen and (max-width: 1024px) {
	div.map{
		border: 0;
	  width: 100%; 
	} 
	div#map1{
		border-right: 0;
		border-bottom: 1px solid #EEE;
		padding-bottom: 25px;
	}
}
select.map-el-select{
	float: left;
	margin: 5px 0 0 5px;
	width: 225px;
}
select.map-st-select{
	float: left;
	margin: 5px 0 0 5px;
	width: 170px;
}
select#map-el-select-2, select#map-st-select-1{
	float: right;
	margin: 5px 5px 0 0 ;
}


/* STATEWIDE INFO */
.state-cand{
	background: #999;
	border-bottom: 1px solid #EEE;
	color: white;
	fill: #999;
	font-size: 16px;
	padding: 5px 10px;
	text-align: center;
}
.state-cand:first-child{
	font-size: 16px;
	padding: 10px 10px;
	text-align: center;
}
.state-votes{
	font-size: 14px;
	margin-left: 3px;
}
.state-pct{
	color: #000;
	font-size: 14px;
	margin-left: 10px;
}
.barack-obama{fill: steelblue; background: steelblue;}
.hillary-clinton{fill: steelblue; background: steelblue;}
.john-edwards{fill: teal; background: teal;}
.dennis-kucinich{fill: royalblue; background: royalblue;}
.bill-richardson{fill: cornflowerblue; background: cornflowerblue;}
.john-mccain{fill: #B22222; background: #B22222;}
.mitt-romney{fill: indianred; background: indianred;}
.mike-huckabee, .rick-santorum{fill: crimson; background: crimson;}
.ron-paul{fill: firebrick; background: firebrick;}
.rudy-giuliani, .jon-huntsman--jr-{fill: salmon; background: salmon;}
.cynthia-mckinney, .jill-stein{fill: mediumseagreen; background: mediumseagreen;}
.newt-gingrich{fill: purple; background: purple;}
.bob-barr, .gary-johnson{fill: goldenrod; background: goldenrod;}
.virgil-goode, .chuck-baldwin{fill: violet; background: violet;}
.peta-lindsay{fill: violet; background: violet;}


/* TOOLTIPS */
path{
	cursor: pointer;
}
div.tooltip{
	background: #FFF;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
	font-family: 'Varela Round', sans-serif;
	height: auto;
	pointer-events: none;
	position: absolute;
}
p.county-name{
	border-bottom: 1px solid #EEE;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 7px 15px;
	text-align: left;
}
p.county-name span{
	color: #CCC;
	font-size: 12px;
	margin-left: 10px;
}
table.county-results{
	margin: 10px 15px 10px 15px;
	width: 95%;
}
table.county-results th{
	color: darkred;
	font-size: 12px;
	padding-bottom: 8px;
	text-align: center;
}
table.county-results tr{
	border-bottom: 1px solid #EEE;
}
table.county-results tr:first-child, table.county-results tr:last-child{
	border-bottom: none;
}
table.county-results td{
	font-size: 12px;
	padding: 5px 15px;
	text-align: right;
}
table.county-results td.cand-name{
	font-size: 14px;
	font-weight: bold;
	padding-left: 0px;
	text-align: left;
}

/* ABOUT */
.text{
	display: none;
	margin-left: 8%;
	padding-bottom: 30px;
	width: 84%;
}
@media screen and (max-width: 900px) {
	.text{
		margin-left:4%;
		width: 92%;
	}
}
.text h1{
	border-bottom: 1px solid #EEE;
	color: crimson;
	font-size: 40px;
	margin: 35px 0 25px;
	text-align: left;
}
.text h2{
	color: steelblue;
	font-size: 28px;
	margin: 35px 0 15px;
}
.text p{
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
	line-height: 32px;
}
.text p:last-child{
	font-size: 22px;
	margin-top: 30px;
	text-align: center;
}


/* FOOTER */
.footer{
	background: #333;
	clear: both;
	color: #FFF;
	margin-top: 0px;
	text-align: center;
}
.footer, .push{
	height: 125px; 
}
.footer p{
	font-size: 16px;
	line-height: 125px;
	margin-bottom: 0;
}
.non-footer { 
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -125px; 
}



/*.axis path, .axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text{
	font-family: sans-serif;
	font-size: 12px;
}


.x-axis path, .x-axis line, .y-axis path, .y-axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x-axis text, .y-axis text{
	font-family: sans-serif;
	font-size: 12px;
}*/